{{#if featured}}
  <img src="assets/images/flavor_circle.png" class="flavor-circle">
  <h5>Request a sample of our featured flavor</h5>
  <div class="flavor-name">
    {{ flavor.name }} {{{ if item.reg '<sup>&reg;</sup>' }}} {{{ if item.tm '<sup>&trade;</sup>' }}}
  </div>
  <div class="flavor-details">
      {{#radio-button
        value='8oz'
        groupValue=flavor.size
        changed='updateSize'
      }}
        8oz
      {{/radio-button}}

      {{#radio-button
        value='1lb'
        groupValue=flavor.size
        changed='updateSize'
      }}
        1lb
      {{/radio-button}}
      <p class="Description">
        {{ item.Description }}
      </p>
    </div>
{{else}}
  <div class="flavor-modal-trigger" {{ action 'openModal' }}>{{ fa-icon 'info-circle' }}</div>
  <div class="flavor-name {{ if selected 'selected' }}" {{ action "select" selected}}>
    {{ flavor.number }} {{ flavor.name }} {{{ if item.reg '<sup>&reg;</sup>' }}} {{{ if item.tm '<sup>&trade;</sup>' }}} {{{ if item.k '<img class="tiny-k" src="assets/images/k.jpg">' }}}
  </div>
  {{#liquid-if selected class='flavor-animation'}}
    <div class="flavor-details">
      {{#radio-button
        value='8oz'
        groupValue=flavor.size
        changed='updateSize'
      }}
        8oz
      {{/radio-button}}

      {{#radio-button
        value='1lb'
        groupValue=flavor.size
        changed='updateSize'
      }}
        1lb
      {{/radio-button}}
      <p class="text">
        {{ item.Description }}
      </p>
    </div>
  {{/liquid-if}}
{{/if}}

{{#if detailsOpen}}
  {{#tether-dialog
    close=(action 'closeModal')
    translucentOverlay=true
    target='.container'
    targetAttachment='middle center'
    attachment='middle center'
    container-class="flavor-detail-modal"
  }}
    <h3>{{ item.Name }}</h3>
    <p>{{ item.Description }}</p>
    <table>
      <tr>
        <td>
          Color
        </td>
        <td>
          {{item.Color}}
        </td>
      </tr>
      <tr>
        <td>
          MTS
        </td>
        <td>
          {{item.MTS}}
        </td>
      </tr>
      <tr>
        <td>
          Exported
        </td>
        <td>
          {{#if item.Exported}}
            {{fa-icon 'check' class='yes'}}
            {{else}}
              {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>

      <tr>
        <td colspan=2><h4 class="table-header">Certifications and Claims</h4></td>
      </tr>

      <tr>
        <td>
          Kosher
        </td>
        <td>
          {{#if item.Kosher}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          Halal
        </td>
        <td>
          {{#if item.Halal}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          Organic
        </td>
        <td>
          {{#if item.Organic}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          No Artificial Flavors
        </td>
        <td>
          {{#if item.NoArtificialFlavors}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          No FD&C Colors
        </td>
        <td>
          {{#if item.NoFDCColors}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          Clean Label
        </td>
        <td>
          {{#if item.CleanLabel}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>

      <tr>
        <td colspan=2><h4 class="table-header">Applications</h4></td>
      </tr>

      <tr>
        <td>
          Snacks
        </td>
        <td>
          {{#if item.Snacks}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          Sauces
        </td>
        <td>
          {{#if item.Sauces}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>
          Salad Dressings & Dips
        </td>
        <td>
          {{#if item.SaladDressingsDips}}
            {{fa-icon 'check' class='yes'}}
          {{else}}
            {{fa-icon 'ban' class='no'}}
          {{/if}}
        </td>
      </tr>

    </table>
  {{/tether-dialog}}
{{/if}}

