<div class="container signup">

  {{ information-cutsheet }}

  <div class="logo-container">
    <img src="assets/images/logo_ingredients.png" class="logo">
  </div>
  <div class="diagonal"></div>
  <div class="header">
    <h2>Request a Sample</h2>
  </div>
  <div class="instructions">
    <img src="assets/images/sifted.jpg" >
    <p>Explore the opportunities our dairy-based products can bring to your snack applications. Fill out the form below and select the spray-dried dairy powders and dry-blended seasonings you’d like to sample—and learn how our product development experts can team up with you to give your products a real dairy advantage.</p>

    <p><b><sup>*</sup>PLEASE NOTE:</b> Land O’Lakes Ingredients is a business-to-business ingredient supplier for food manufacturers and does not work directly with consumers. All sample requests will be reviewed and qualified. <b>Samples will only be sent to U.S. food manufacturers.</b></p>
  </div>
  <div class="form-container draggable">
    {{#liquid-if showForm class="form-animation"}}
      {{ signup-form signup=model next=(action 'switchToFlavors') }}
    {{ else }}
      {{ signup-flavor-list add=(action 'addFlavor') remove=(action 'removeFlavor') back=(action 'switchToForm') save=(action 'save') signup=model}}
    {{/liquid-if}}
  </div>

  <button class="badge-scan-button" {{ action 'openScanModal' }}>To complete form by scanning your badge, tap here.</button>
</div>

{{#if submitModalOpen}}
  {{#modal-dialog translucentOverlay=true}}
    <div class="submit-message">
      {{ submitMessage }}
    </div>
  {{/modal-dialog}}
{{/if}}

{{#if scanModalOpen}}
  {{#tether-dialog
    close=(action 'closeScanModal')
    container-class="badge-scan-modal"
    translucent-overlay=true
  }}
    <div class="modal-content" {{ action (action 'closeScanModal') }}>
      Scan Your Badge Now
      {{#if scanError}}
        <p>{{ scanError }}</p>
      {{/if}}
      {{ input value=scanValue enter="submitScan" class="badge-scan-input"}}
    </div>
  {{/tether-dialog}}
{{/if}}
