{{ signup-flavor
  signup=signup
  featured=true
  add=add
  remove=remove
  number=49017
  name="CheddarChroma"
  tm=true
  sub="240"
  text="A cheddar and blue cheese flavor profile made using vegetable extracts to deliver a bright orange color—formulated without the use of FD&C colors."
}}



{{#liquid-spacer class="flavor-list-animate" growDuration=500}}

  <div class="flavor-list">
    <h4 {{ action 'openListOne' }}>SPRAY-DRIED DAIRY POWDERS {{ fa-icon icon="chevron-up" rotate=rotateOne }}</h4>

    {{#if listOneOpen}}

      <p>Click on any spray-dried dairy powder for a product description and to select the sample size you’d like to receive:</p>

      <h5>Cheddar Cheese Poweders</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49017
        name="CheddarChroma"
        tm=true
        sub="240"
        text="A cheddar and blue cheese flavor profile made using vegetable extracts to deliver a bright orange color—formulated without the use of FD&C colors."
      }}

      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49197
        name="Cheddease"
        reg=true
        k=true
        sub="504"
        text="A versatile cheddar cheese powder that delivers a vibrant color—formulated without the use of FD&C colors."
      }}

       <h5>Cheddar Cheese Poweders</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49103
        name="Cheddease"
        reg=true
        k=true
        sub="502"
        text="A high-flavor cheddar cheese powder that blends a variety of dairy ingredients to deliver a well-rounded cheese profile."
      }}

      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49173
        name="Cheddease"
        reg=true
        sub="271"
        text="Extra sharp cheddar cheese blended with buttermilk and whey for snack seasonings."
      }}

      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49320
        name="Cheddease"
        reg=true
        sub="310"
        text="A high-flavored blend of cheddar and blue cheese along with dairy and other ingredients to deliver a well-rounded cheese profile."
      }}

      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49320
        name="Cheddease"
        reg=true
        sub="1401"
        text="An economical cheese powder with a well-rounded cheese flavor profile."
      }}

      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49638
        name="Dry Butter Powder"
        k=true
        sub="633"
        text="A butter powder blend with a well-rounded butter flavor."
      }}

      <h5>Triple Color</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49012
        name="Cheddease"
        r=true
        sub="M240"
        text="An economical cheese powder with a cheddar and blue cheese flavor profile."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49213
        name="Cheddease"
        r=true
        sub="270"
        text="Designed for sauces and snack seasonings—an extra sharp cheddar cheese blended with buttermilk and whey."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49258
        name="Cheddease"
        r=true
        sub="275"
        k=true
        text="Designed for snack seasonings—an extra sharp cheddar cheese powder with buttermilk and whey"
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49318
        name="Cheddease"
        r=true
        sub="310"
        text="A high-flavored blend of cheddar and blue cheese along with dairy and other ingredients to deliver a well-rounded cheese profile."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49329
        name="Cheddease"
        r=true
        k=true
        sub=240
        text="An economical cheese powder with a cheddar and blue cheese flavor profile."
      }}


      <h5>White</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49014
        name="Cheddease"
        r=true
        sub="M240"
        text="An economical cheese powder with a cheddar and blue cheese flavor profile."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49174
        name="Cheddease"
        r=true
        sub="310"
        text="A high-flavor blend of cheddar and blue cheese along with dairy and other ingredients to deliver a well-rounded cheese profile."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49266
        name="Cheddease"
        r=true
        sub="275"
        k=true
        text="Designed for snack seasonings—an extra sharp cheddar cheese with buttermilk and whey."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49270
        name="LaChedda"
        k=true
        text="Cheddar cheese powder that provides a sharp flavor and mouthfeel for building a long-lasting cheddar impact."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49316
        name="Cheddease"
        r=true
        sub="925"
        k=true
        text="Designed for sauces and snack seasonings—an extra sharp cheddar cheese blended with buttermilk and whey."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49413
        name="Cheddease"
        r=true
        sub="240"
        k=true
        text="An economical cheese powder with a cheddar and blue cheese flavor profile."
      }}

      <h5>White</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49656
        name="Dried Sour Cream Blend"
        text="A smooth, well-rounded cultured sour cream flavor."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49734
        name="Nacho Base Cheese Blend"
        text="A balanced cheese powder blend."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49664
        name="Sour Cream Powder Blend"
        text="A rich, cultured blended sour cream powder."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25665
        name="Blend Master Dry Cream Blend"
        text="A blend of cream and other dairy ingredients when dried, is an economical replacement for liquid cream."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49300
        name="Monterey Jack Swiss Blend"
        text="A balanced blend of Monterey Jack and Swiss cheese provides a smooth flavor and full mouthfeel."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49350
        name="Romano Dried Cheese Powder"
        text="A full-flavor cheese powder blend with a sharp Romano taste profile."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49770
        sub="M162"
        name="Romano Dried Cheese Blend"
        text="A high-flavor cheese powder blend with a sharp Romano cheese flavor."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49790
        name="Dried Parmesan Blend"
        sub="M163"
        text="An economical, authentic flavor cheese powder blend with a sharp Parmesan cheese flavor."
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=49799
        name="Parmesan Cheese Blend"
        text="A high-flavor cheese powder blend with a sharp Parmesan cheese flavor."
        k=true
      }}



    {{/if}}
  </div>

{{/liquid-spacer}}


{{#liquid-spacer class="flavor-list-animate" growDuration=500}}

  <div class="flavor-list">
    <h4 {{ action 'openListTwo' }}>DRY-BLENDED SEASONINGS {{ fa-icon icon="chevron-up" rotate=rotateOne }}</h4>

    {{#if listTwoOpen}}

      <p>Click on any dry-blended seasoning for a product description and to select the sample size you’d like to receive:</p>

      <h5>Cheddar Cheese Poweders</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25161
        name="Green Chile Queso"
        text="The taste of Tex-Mex-style melted cheese with green chiles, white pepper, chili pepper and jalapeños blended with tomato, onion and garlic."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25165
        name="Firecracker"
        text="Designed for topical application—a blended seasoning with a blast of jalapeño flavor and lingering heat, enhanced with aged cayenne pepper notes and savory cheese undertones."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25167
        name="Hot Buttery Cinnamon"
        text="A sweet and spicy blend with red-hot cinnamon and butter flavors."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25344
        name="Ranch Seasoning"
        text="Creamy buttermilk, tomato, garlic and onion blended with bold and tangy spices."
        k=true
      }}

      <h5>Nacho</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25177
        name="Nacho Seasoning"
        text="A balanced blend of cheese, spice and garlic."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25350
        name="Nacho Seasoning"
        text="A high-flavor blend of cheese, spice and garlic."
        k=true
      }}

      <h5>Sour Cream</h5>
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25182
        name="Cheddar Sour Cream"
        text="A blend of sharp cheddar and tangy sour cream accented with garlic and onion."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25338
        name="Aged Cheddar and Sour Cream"
        text="An aged cheddar and tangy sour cream blend accented with garlic and onion."
        k=true
      }}
      {{ signup-flavor
        signup=signup
        add=add
        remove=remove
        number=25169
        name="Sour Cream and Onion"
        text="A rich, cultured flavor of sour cream with a light onion flavor."
        k=true
      }}




    {{/if}}
  </div>

{{/liquid-spacer}}

<div class="buttons">
  <button class="submit back" {{ action back }}>back</button>
  <button class="submit" {{ action save signup}}>submit</button>

</div>
